<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>MiniProject2</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
</head>
<body>

<div class="container">

    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" style="color: #0d6efd">
                    <img src="/images/reddit-log.jpg" alt="" width="35" height="35">
                    Spring Reddit Clone
                </a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">

                        </li>
                    </ul>
                    <form class="d-flex">
                        <button class="btn btn-secondary me-2" type="button">Sign Up </button>
                        <button class="btn btn-secondary me-2" type="button">LogIn</button>

                    </form>
                </div>
            </div>
        </nav>

    </div>

    <div class="row my-5">
                <div class="col-lg-8">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Title</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Title">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        <button class="btn btn-primary" type="button">DISCARD</button>
                        <button class="btn btn-primary" type="button">POST</button>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <img src="/images/raddit.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text"> Welcome to the Spring Reddit clone ! Come here to create Subreddit of you r favourite </p>
                            <div class="d-grid gap-2">
                                <button th:href="create" class="btn btn-primary" type="button">CREATE REDDIT</button>
                                <button class="btn btn-outline-primary" type="button" >CRATE SUBREDDIT</button>
                     </div>
                </div>
                <div class="list-group" style="width: 18rem;">
                    <h5>Browse Subreddits</h5>
                    <a href="#">A second link item</a>
                    <a href="#">A second link item</a>
                    <a href="#">A second link item</a>
                </div>
                <button class="btn btn-primary" type="button">views all</button>
            </div>
<!--Col-->
        </div>

    </div>

</div>

<script th:src="@{js/bootstrap.min.js}"></script>
</body>
</html>